.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.contact-row {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.social-contact {
    margin: 0.5rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
}

figure img {
    width: 30px;
    height: 30px;
}

figcaption {
    text-align: center;
}